html
{
	margin: 0;
	padding: 0;
  overflow: hidden;
  text-shadow: 1px 1px 2px black;
}

.toggle, .label, .nav
{
  text-shadow: none;
}

div.background
{
  position:fixed;
  z-index: 0;
  bottom: 0%;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
}

img.background
{
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position:fixed;
  z-index: 0;
  bottom: 0%;
  left: 0px;
  width: 100%;
  height: 100%;
}

.progress-bar-vertical
{
  opacity: 0.75;
  width: 20px;
  min-height: 100%;
  margin-right: 20px;
  float: left;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-end;
  -webkit-align-items: flex-end; /* Safari 7.0+ */
}

.progress-bar-vertical .progress-bar
{
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

.arrow-container
{
  display: inline-block;
  color: white;
  text-align: center;
}

.arrow-container span
{
  margin-top: 15px;
  font-size: 25px;
  font-family: arial;
}

.arrow-outer
{
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.5);
  /* hiding the top border */
  /*border-top-color: transparent;*/
  border-bottom-color: transparent;
  width: 300px;
  height: 300px;
  margin-bottom: -100px;
  transform: perspective(400px) scaleZ(2) rotateX(60deg);
}

.arrow-inner {  }

.arrow
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
  width: 75%;
  height: 75%;
}

.arrow img.speed-arrow
{
  clip-path: inset(100% 0px 0px 0px);
  -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

.arrow img
{
  position:absolute;
  z-index: -1;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  filter: invert(1.0);
}

.arrow img.background-arrow
{
  z-index: -2;
  opacity: 0.5;
}

p[id^="compass"]
{
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
  margin-top: -40.5%;
  font-size: 75px;
  transform-origin: 50.5% 227%;
}

.progress-bar-disabled
{
  background-color: grey;
}

.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal p,
.modal span
{
  text-shadow: none;
  color: black;
}